.clienthq-footer {
    background: #0A2E45;
    padding: 56px 0;

    &__footer-logo {
        width: 46px;
        height: 46px;
        vertical-align: middle
    }

    &__footer-text {
        @include font-primary-light;
        color: $colors__white;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-left: 40px;
        text-decoration: none;
    }

    &__social-share {
        display: inline-block;
        white-space: nowrap;
        margin: 14px 14px 13px 34px;
        font-size: 12px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.58;
        letter-spacing: normal;
        color: #ffffff;
        font-family: museo-sans;
        width: 100%;
        text-align: right;
    }


    &__width-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__content {
        margin: 0 auto;
        max-width: 1100px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        max-height: none;
        width: 100%;
        justify-content: left;

        & a:hover {
            text-decoration: none;
            color: $colors__white;
        }
    }

    &__social-list-item {
        font-size: 1.75em !important;
        flex: 0 0 auto;
        margin-left: 16px !important;
        margin-right: 20px;
        margin-bottom: 0 !important;
        line-height: 0;
        color: $colors__white;

        &:first-child {
            margin-left: 0 !important;
        }

        a {
            text-align: center;
            display: inline-block;
            position: relative;
            color: $colors__white !important;

            i {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate3d(-50%, -50%, 0);
            }
        }
    }
}
